In [1]:
import pandas as pd
import numpy as np
import itertools
import collections

In [2]:
a = [1,2,3,4,2,2,3,1,4,4,4]

In [4]:
max(a,key=a.count)

4

TypeError: list.count() takes exactly one argument (0 given)

In [31]:
import numpy as np
from sklearn.metrics import make_scorer
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import cross_val_score

#define custom function which returns single output as metric score
def NMAPE(y_true, y_pred): 
    return 1 - np.mean(np.abs((y_true - y_pred) / y_true)) * 100

#make scorer from custome function
nmape_scorer = make_scorer(NMAPE)

#dummy data
X = np.random.random((1000,10))
y = np.random.random(1000,)

#cross validation score on model
reg = LinearRegression()
cross_val_score(reg, X, y, scoring=nmape_scorer, cv=5)

array([-652.04271202, -187.7504497 , -330.60055883, -226.21675167,
       -986.81825406])

In [32]:
j = pd.read_json("http://api.nobelprize.org/v1/laureate.json")
j

                                             laureates
0    {'id': '1', 'firstname': 'Wilhelm Conrad', 'su...
1    {'id': '2', 'firstname': 'Hendrik A.', 'surnam...
2    {'id': '3', 'firstname': 'Pieter', 'surname': ...
3    {'id': '4', 'firstname': 'Henri', 'surname': '...
4    {'id': '5', 'firstname': 'Pierre', 'surname': ...
..                                                 ...
963  {'id': '1005', 'firstname': 'Maria', 'surname'...
964  {'id': '1006', 'firstname': 'Dmitry', 'surname...
965  {'id': '1007', 'firstname': 'David', 'surname'...
966  {'id': '1008', 'firstname': 'Joshua', 'surname...
967  {'id': '1009', 'firstname': 'Guido', 'surname'...

[968 rows x 1 columns]

In [85]:
df1

,year,category,share,motivation,affiliations,overallMotivation,laureates.id
0,1901,physics,1,"""in recognition of the extraordinary services ...","[{'name': 'Munich University', 'city': 'Munich...",NaN,1
1,1902,physics,2,"""in recognition of the extraordinary service t...","[{'name': 'Leiden University', 'city': 'Leiden...",NaN,2
2,1902,physics,2,"""in recognition of the extraordinary service t...","[{'name': 'Amsterdam University', 'city': 'Ams...",NaN,3
3,1903,physics,2,"""in recognition of the extraordinary services ...","[{'name': 'École Polytechnique', 'city': 'Pari...",NaN,4
4,1903,physics,4,"""in recognition of the extraordinary services ...",[{'name': 'École municipale de physique et de ...,NaN,5
...,...,...,...,...,...,...,...
970,2021,peace,2,"""for their efforts to safeguard freedom of exp...",[[]],NaN,1005
971,2021,peace,2,"""for their efforts to safeguard freedom of exp...",[[]],NaN,1006
972,2021,economics,2,"""for his empirical contributions to labour eco...","[{'name': 'University of California', 'city': ...",NaN,1007
973,2021,economics,4,"""for their methodological contributions to the...",[{'name': 'Massachusetts Institute of Technolo...,NaN,1008
974,2021,economics,4,"""for their methodological contributions to the...","[{'name': 'Stanford University', 'city': 'Stan...",NaN,1009

In [101]:
import json, pandas as pd, requests

resp = requests.get('http://api.nobelprize.org/v1/laureate.json')
df0 = pd.json_normalize(json.loads(resp.content),record_path = ['laureates'])
df1 = pd.json_normalize(json.loads(resp.content),record_path = ['laureates','prizes'], meta = [['laureates','id']])
output = pd.merge(df0, df1, left_on='id', right_on='laureates.id').drop(['prizes','laureates.id'], axis=1, inplace=False)
print('Shape of data ->',output.shape)
print('')
print('Columns ->',output.columns)

Shape of data -> (975, 18)

Columns -> Index(['id', 'firstname', 'surname', 'born', 'died', 'bornCountry',
       'bornCountryCode', 'bornCity', 'diedCountry', 'diedCountryCode',
       'diedCity', 'gender', 'year', 'category', 'share', 'motivation',
       'affiliations', 'overallMotivation'],
      dtype='object')

Shape of data -> (975, 18)

Columns -> Index(['id', 'firstname', 'surname', 'born', 'died', 'bornCountry',
       'bornCountryCode', 'bornCity', 'diedCountry', 'diedCountryCode',
       'diedCity', 'gender', 'year', 'category', 'share', 'motivation',
       'affiliations', 'overallMotivation'],
      dtype='object')

In [ ]:
Index(['id', 'firstname', 'surname', 'born', 'died', 'bornCountry',
       'bornCountryCode', 'bornCity', 'diedCountry', 'diedCountryCode',
       'diedCity', 'gender', 'prizes'],
      dtype='object')