In [1]:
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.tree import export_graphviz
import numpy as np

# Ficticuous data
np.random.seed(0)
X = np.random.normal(0,1,(1000, 3))
y = X[:,0]+X[:,1]*X[:,2] > 0

# Classifier
clf = GradientBoostingClassifier(max_depth=3, random_state=0)
clf.fit(X[:600], y[:600])

# Get the tree number 42
sub_tree_42 = clf.estimators_[42, 0]

# Visualization
# Install graphviz: https://www.graphviz.org/download/
from pydotplus import graph_from_dot_data
from IPython.display import Image
dot_data = export_graphviz(
    sub_tree_42,
    out_file=None, filled=True, rounded=True,
    special_characters=True,
    proportion=False, impurity=False, # enable them if you want
)
graph = graph_from_dot_data(dot_data)
Image(graph.create_png())

ModuleNotFoundError: No module named 'pydotplus'

In [5]:
my_dict = {'david': ('18', 'Paris', '253-345-5434'), 
           'Joe': ('19', 'Dubai', '675-353-2345'), 
           'Luc': ('31', 'Istanbul', '766-673-3451')}

In [6]:
keys = sorted(my_dict, key=str.lower)

In [10]:
class MovingSum:
    def __init__(self, window=3):
        self.window = window
    
    def push(self, nums: list[int]):
        pass

    def belongs(self, total) -> bool:
        pass

In [11]:
l = [(1,1,0), (2,1,1), (1,1,1)]

In [13]:
import pandas as pd

In [42]:
#Convert the list of tuples into entries from a single column
df = pd.DataFrame({'pdq_values':l})

#Change the index by adding 1, setting column name and prepending 'Col'
df.index = 'Col' + (df.index.set_names('Results')+1).astype(str)

#Reset index to get the index as a column in the df
df = df.reset_index()

df

  Results pdq_values
0    Col1  (1, 1, 0)
1    Col2  (2, 1, 1)
2    Col3  (1, 1, 1)

RangeIndex(start=1, stop=4, step=1, name='Results')

In [2]:
import numpy as np

In [3]:
a = np.array([['#define', 'name_1', '(value1) /*comment 1*/'],
              ['#define', 'name_2', '(value2) /*comment 2*/'],
              ['#define', 'name_3', '(value3) /*comment 3*/'],
              ['#define', 'name_4', '(value4) /*comment 4*/']])

In [4]:
a

array([['#define', 'name_1', '(value1) /*comment 1*/'],
       ['#define', 'name_2', '(value2) /*comment 2*/'],
       ['#define', 'name_3', '(value3) /*comment 3*/'],
       ['#define', 'name_4', '(value4) /*comment 4*/']], dtype='<U22')

In [15]:
np.char.(a[:,-1],' ',)

array([8, 8, 8, 8])

In [18]:
a = np.array([['#define', 'name_1', '(value1) /*comment 1*/'],
              ['#define', 'name_2', '(value2) /*comment 2*/'],
              ['#define', 'name_3', '(value3) /*comment 3*/'],
              ['#define', 'name_4', '(value4) /*comment 4*/']])

a[:,-1] = a[:,-1].astype('<U8')

a

array([['#define', 'name_1', '(value1)'],
       ['#define', 'name_2', '(value2)'],
       ['#define', 'name_3', '(value3)'],
       ['#define', 'name_4', '(value4)']], dtype='<U22')

In [19]:

a.astype('<U8')

array([['#define', 'name_1', '(value1)'],
       ['#define', 'name_2', '(value2)'],
       ['#define', 'name_3', '(value3)'],
       ['#define', 'name_4', '(value4)']], dtype='<U8')

1.2635

In [36]:
import math

def floor_rounded(n,d):
    return math.floor(n*10**d)/10**d


n = 8.04
d = 2

output = floor_rounded(n,d)
print(output)

8.03

In [46]:
#EDIT: Alternate approach, based on the comment by Mark Dickinson

def string_rounded(n,d):
    i,j = str(n).split('.')
    return float(i+'.'+j[:d])
n = 8.04
d = 2

output = string_rounded(n,d)
output

8.04

In [35]:
floor_rounded(8.04, 2)

8.03

8.04

In [30]:
i, j = str(n).split('.')
i+j[:d]

'12635'

In [ ]:
import math

def floor_rounded(n,d):
    str()
    
    return math.floor(n*10**d)/10**d

In [22]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.desired_capabilities import DesiredCapabilities

In [23]:
chrome_options = webdriver.ChromeOptions()
#chrome_options.set_capability('browserless:token', 'YOUR-API-TOKEN')
chrome_options.add_argument("--no-sandbox")
chrome_options.add_argument("--headless")
chrome_options.add_argument("--disable-dev-shm-usage")

In [24]:
driver = webdriver.Remote(
  command_executor='http://localhost:3000/webdriver',
  desired_capabilities=chrome_options.to_capabilities()
)

/var/folders/ck/dvz0vpxx7fz95ld2btkqqvzw0000gn/T/ipykernel_30737/982601418.py:1: DeprecationWarning: desired_capabilities has been deprecated, please pass in an Options object with options kwarg
  driver = webdriver.Remote(

WebDriverException: Message: unknown error: Chrome failed to start: crashed.
  (unknown error: DevToolsActivePort file doesn't exist)
  (The process started from chrome location /usr/bin/google-chrome is no longer running, so ChromeDriver is assuming that Chrome has crashed.)
Stacktrace:
#0 0x0040007e4552 <unknown>
#1 0x004000775513 <unknown>
#2 0x004000511b51 <unknown>
#3 0x00400053869c <unknown>
#4 0x00400053431a <unknown>
#5 0x00400057417b <unknown>
#6 0x00400056bed3 <unknown>
#7 0x00400053ee84 <unknown>
#8 0x00400054007e <unknown>
#9 0x0040007a8191 <unknown>
#10 0x0040007bc4ba <unknown>
#11 0x0040007bbf1f <unknown>
#12 0x0040007bcbe5 <unknown>
#13 0x0040007a95da <unknown>
#14 0x0040007bcf23 <unknown>
#15 0x00400079ac8f <unknown>
#16 0x0040007d7dc8 <unknown>
#17 0x0040007d7ee7 <unknown>
#18 0x0040007f1f4f <unknown>
#19 0x004002b68b43 <unknown>
#20 0x004002bf9bb4 clone

In [ ]:
driver.get("https://www.example.com")
print(driver.title)
driver.quit()

In [21]:
import requests

url = 'http://localhost:3000/content'
payload = {"url": "https://example.com/"}


x = requests.post(url, json = payload)

print(x.text)

Protocol error (Target.setAutoAttach): Target closed.

In [25]:
import pandas as pd

In [26]:
df = pd.read_clipboard()
df

          Day     Status Channel   Count
0  2022-11-08  Delivered     SMS  288322
1  2022-11-08    Clicked     SMS    1132
2  2022-11-13  Delivered     SMS  246203
3  2022-11-13    Clicked     SMS    4684
4  2022-11-19  Delivered     SMS  154872
5  2022-11-19    Clicked     SMS    1222
6  2022-11-20  Delivered     SMS  253716
7  2022-11-20    Clicked     SMS    2384

In [37]:

print(stacked_df)


Status      Clicked  Delivered
Day                           
2022-11-08     1132     288322
2022-11-13     4684     246203
2022-11-19     1222     154872
2022-11-20     2384     253716

Status      Clicked  Delivered
Day
2022-11-08     1132     288322
2022-11-13     4684     246203
2022-11-19     1222     154872
2022-11-20     2384     253716

In [54]:
g = df.groupby(['Day','Status'])['Count'].sum().unstack() #<-- Unstack status index
g['Ratio'] = g['Clicked']/g['Delivered']                  #<-- Divide clicked & delivered
g = g.reset_index()                                       #<-- Reset index
print(g)

Status         Day  Clicked  Delivered     Ratio
0       2022-11-08     1132     288322  0.003926
1       2022-11-13     4684     246203  0.019025
2       2022-11-19     1222     154872  0.007890
3       2022-11-20     2384     253716  0.009396

In [55]:
s = df.set_index(['Day','Status'])['Count'].unstack() #<-- Unstack status index
s['Ratio'] = s['Clicked']/s['Delivered']              #<-- Divide clicked & delivered
s = s.reset_index()                                   #<-- Reset index
print(s)

Status         Day  Clicked  Delivered     Ratio
0       2022-11-08     1132     288322  0.003926
1       2022-11-13     4684     246203  0.019025
2       2022-11-19     1222     154872  0.007890
3       2022-11-20     2384     253716  0.009396

In [72]:
class Name:
    def __init__(self, first, last):
        self.first = first
        self.last = last

class Pet:
    def __init__(self, name, owner):
        self.name = name
        self.owner = owner           #<-- This should trigger something
        self.owner.pets.append(self) #<-- Call add_pet function from Owner class
        
class Owner:
    def __init__(self, name):
        self.name = name
        self.pets = []


owner_1 = Owner(Name("David", "Joyner"))
owner_2 = Owner(Name("Audrey", "Hepburn"))

pet_1 = Pet(Name("Boggle", "Joyner"), owner_1)
pet_2 = Pet(Name("Artemis", "Joyner"), owner_1)
pet_3 = Pet(Name("Pippin", "Hepburn"), owner_2)

print(len(owner_1.pets))
print(len(owner_2.pets))

2
1

In [65]:
print(owner_1.__dict__)
print(owner_2.__dict__)

{'name': <__main__.Name object at 0x145534ac0>, 'pets': []}
{'name': <__main__.Name object at 0x145534790>, 'pets': []}

In [68]:
print(owner_1.__dict__)
print(owner_2.__dict__)

{'name': <__main__.Name object at 0x145535f60>, 'pets': [<__main__.Pet object at 0x145537e20>, <__main__.Pet object at 0x145536a40>]}
{'name': <__main__.Name object at 0x145537580>, 'pets': [<__main__.Pet object at 0x145537fd0>]}

In [74]:
owner_1 = Owner(Name("David", "Joyner"))
owner_2 = Owner(Name("Audrey", "Hepburn"))
print('BEFORE DEFINING PETS')
print(owner_1.__dict__)
print(owner_2.__dict__)
print('')

pet_1 = Pet(Name("Boggle", "Joyner"), owner_1)
print('ADDING PET 1')
print(owner_1.__dict__)
print(owner_2.__dict__)
print('')


pet_2 = Pet(Name("Artemis", "Joyner"), owner_1)
print('ADDING PET 2')
print(owner_1.__dict__)
print(owner_2.__dict__)
print('')

pet_3 = Pet(Name("Pippin", "Hepburn"), owner_2)
print('ADDING PET 3')
print(owner_1.__dict__)
print(owner_2.__dict__)

BEFORE DEFINING PETS
{'name': <__main__.Name object at 0x145542590>, 'pets': []}
{'name': <__main__.Name object at 0x145541e10>, 'pets': []}

ADDING PET 1
{'name': <__main__.Name object at 0x145542590>, 'pets': [<__main__.Pet object at 0x145543d30>]}
{'name': <__main__.Name object at 0x145541e10>, 'pets': []}

ADDING PET 2
{'name': <__main__.Name object at 0x145542590>, 'pets': [<__main__.Pet object at 0x145543d30>, <__main__.Pet object at 0x1433aada0>]}
{'name': <__main__.Name object at 0x145541e10>, 'pets': []}

ADDING PET 3
{'name': <__main__.Name object at 0x145542590>, 'pets': [<__main__.Pet object at 0x145543d30>, <__main__.Pet object at 0x1433aada0>]}
{'name': <__main__.Name object at 0x145541e10>, 'pets': [<__main__.Pet object at 0x145539c00>]}

In [78]:
fhlist = [['BzRmmzZHzVBzgVQmZ'],['efmt']]
shlist = [['LPtqqffPqWqJmPLlL'], ['abcm']]

In [79]:
found = []
for i in range(len(fhlist)):
    for char in fhlist[i]:
        if char in shlist[i]:
            found.append(char)

In [80]:
found

[]

In [90]:
[list(set(f[0]).intersection(s[0])) for f,s in zip(fhlist, shlist)]

[['m'], ['m']]

In [96]:
calender = pd.read_clipboard()
calender = calender.apply(pd.to_datetime, axis=0)
calender

,Sunday,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday
January,2021-12-26,2021-12-27,2021-12-28,2021-12-29,2021-12-30,2021-12-31,2022-01-01
January,2022-01-02,2022-01-03,2022-01-04,2022-01-05,2022-01-06,2022-01-07,2022-01-08
January,2022-01-09,2022-01-10,2022-01-11,2022-01-12,2022-01-13,2022-01-14,2022-01-15
January,2022-01-16,2022-01-17,2022-01-18,2022-01-19,2022-01-20,2022-01-21,2022-01-22
January,2022-01-23,2022-01-24,2022-01-25,2022-01-26,2022-01-27,2022-01-28,2022-01-29
February,2022-01-30,2022-01-31,2022-02-01,2022-02-02,2022-02-03,2022-02-04,2022-02-05
February,2022-02-06,2022-02-07,2022-02-08,2022-02-09,2022-02-10,2022-02-11,2022-02-12
February,2022-02-13,2022-02-14,2022-02-15,2022-02-16,2022-02-17,2022-02-18,2022-02-19
February,2022-02-20,2022-02-21,2022-02-22,2022-02-23,2022-02-24,2022-02-25,2022-02-26
March,2022-02-27,2022-02-28,2022-03-01,2022-03-02,2022-03-03,2022-03-04,2022-03-05
March,2022-03-06,2022-03-07,2022-03-08,2022-03-09,2022-03-10,2022-03-11,2022-03-12
March,2022-03-13,2022-03-14,2022-03-15,2022-03-16,2022-03-17,2022-03-18,2022-03-19
March,2022-03-20,2022-03-21,2022-03-22,2022-03-23,2022-03-24,2022-03-25,2022-03-26
April,2022-03-27,2022-03-28,2022-03-29,2022-03-30,2022-03-31,2022-04-01,2022-04-02
April,2022-04-03,2022-04-04,2022-04-05,2022-04-06,2022-04-07,2022-04-08,2022-04-09

In [106]:
conditions = calender.apply(lambda x: (x.dt.year != 2022) & (x.dt.month != 2), axis=0)
conditions.all(1)

January     False
January     False
January     False
January     False
January     False
February    False
February    False
February    False
February    False
March       False
March       False
March       False
March       False
April       False
April       False
dtype: bool

In [107]:
calender = pd.read_clipboard()
calender

,Sunday,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday
January,2021-12-26,2021-12-27,2021-12-28,2021-12-29,2021-12-30,2021-12-31,2022-01-01
January,2022-01-02,2022-01-03,2022-01-04,2022-01-05,2022-01-06,2022-01-07,2022-01-08
January,2022-01-09,2022-01-10,2022-01-11,2022-01-12,2022-01-13,2022-01-14,2022-01-15
January,2022-01-16,2022-01-17,2022-01-18,2022-01-19,2022-01-20,2022-01-21,2022-01-22
January,2022-01-23,2022-01-24,2022-01-25,2022-01-26,2022-01-27,2022-01-28,2022-01-29
February,2022-01-30,2022-01-31,2022-02-01,2022-02-02,2022-02-03,2022-02-04,2022-02-05
February,2022-02-06,2022-02-07,2022-02-08,2022-02-09,2022-02-10,2022-02-11,2022-02-12
February,2022-02-13,2022-02-14,2022-02-15,2022-02-16,2022-02-17,2022-02-18,2022-02-19
February,2022-02-20,2022-02-21,2022-02-22,2022-02-23,2022-02-24,2022-02-25,2022-02-26
March,2022-02-27,2022-02-28,2022-03-01,2022-03-02,2022-03-03,2022-03-04,2022-03-05
March,2022-03-06,2022-03-07,2022-03-08,2022-03-09,2022-03-10,2022-03-11,2022-03-12
March,2022-03-13,2022-03-14,2022-03-15,2022-03-16,2022-03-17,2022-03-18,2022-03-19
March,2022-03-20,2022-03-21,2022-03-22,2022-03-23,2022-03-24,2022-03-25,2022-03-26
April,2022-03-27,2022-03-28,2022-03-29,2022-03-30,2022-03-31,2022-04-01,2022-04-02
April,2022-04-03,2022-04-04,2022-04-05,2022-04-06,2022-04-07,2022-04-08,2022-04-09

In [119]:
print(calender[calender.apply(lambda row: row.str.find('2022-02')>=0).any(1)])

              Sunday      Monday     Tuesday   Wednesday    Thursday  \
February  2022-01-30  2022-01-31  2022-02-01  2022-02-02  2022-02-03
February  2022-02-06  2022-02-07  2022-02-08  2022-02-09  2022-02-10
February  2022-02-13  2022-02-14  2022-02-15  2022-02-16  2022-02-17
February  2022-02-20  2022-02-21  2022-02-22  2022-02-23  2022-02-24
March     2022-02-27  2022-02-28  2022-03-01  2022-03-02  2022-03-03

              Friday    Saturday
February  2022-02-04  2022-02-05
February  2022-02-11  2022-02-12
February  2022-02-18  2022-02-19
February  2022-02-25  2022-02-26
March     2022-03-04  2022-03-05

In [207]:
sample_list_of_dicts = [
    { 'group1': { 'item1': 'value1', 'item2': 'value2' } },
    { 'group1': { 'item1': 'value3', 'item2': 'value4' } }
]

df = pd.json_normalize(sample_list_of_dicts)

In [208]:
#Expand columns to multi-index
df.columns = df.columns.str.split('.', expand=True)

#Iterate the highest level and convert records to dict
output = [{k:j} for k in df.columns.levels[0] for j in df[k].to_dict('records')]
output

[{'group1': {'item1': 'value1', 'item2': 'value2'}},
 {'group1': {'item1': 'value3', 'item2': 'value4'}}]

[{'group1': {'item1': 'value1', 'item2': 'value2'}},
 {'group1': {'item1': 'value3', 'item2': 'value4'}}]

In [150]:
df.to_json(orient='columns')

'{"group1.item1":{"0":"value1","1":"value3"},"group1.item2":{"0":"value2","1":"value4"}}'

AttributeError: Can only use .str accessor with Index, not MultiIndex

In [153]:
df

   group1
    item1   item2
0  value1  value2
1  value3  value4

In [191]:
{k: df[k].to_dict('r') for k in df.columns.levels[0]}

/var/folders/ck/dvz0vpxx7fz95ld2btkqqvzw0000gn/T/ipykernel_30737/699138764.py:1: FutureWarning: Using short name for 'orient' is deprecated. Only the options: ('dict', list, 'series', 'split', 'records', 'index') will be used in a future version. Use one of the above to silence this warning.
  {k: df[k].to_dict('r') for k in df.columns.levels[0]}

{'group1': [{'item1': 'value1', 'item2': 'value2'},
  {'item1': 'value3', 'item2': 'value4'}]}

In [194]:
[df[k].to_dict('r') for k in df.columns.levels[0]]

/var/folders/ck/dvz0vpxx7fz95ld2btkqqvzw0000gn/T/ipykernel_30737/1478310034.py:1: FutureWarning: Using short name for 'orient' is deprecated. Only the options: ('dict', list, 'series', 'split', 'records', 'index') will be used in a future version. Use one of the above to silence this warning.
  [df[k].to_dict('r') for k in df.columns.levels[0]]

[[{'item1': 'value1', 'item2': 'value2'},
  {'item1': 'value3', 'item2': 'value4'}]]

In [202]:
[{k:j} for k in df.columns.levels[0] for j in df[k].to_dict('records') ]

[{'group1': {'item1': 'value1', 'item2': 'value2'}},
 {'group1': {'item1': 'value3', 'item2': 'value4'}}]

In [209]:
import sys
print(sys.executable)

/opt/homebrew/Caskroom/miniforge/base/envs/graph_env/bin/python

In [212]:
from matplotlib.pyplot import Line2D

COLOR_FCT = {
"a": ["blue", "Al", "-"],
"b": ["orange", "Bv", "-"],
"c": ["green", "Cx", "-"],
"d": ["k", "Ds", "--"],
}

legend = [Line2D([0],[0],color=COLOR_FCT[item][0],
                 lw=2,ls=COLOR_FCT[item][2],
                 label=COLOR_FCT[item][1],) for item in ["a", "b", "c"]]

In [256]:
import numpy as np
p, q, r, t = 2, 9, 512, 4
# data initialization (random)
np.random.seed(500)
S = np.random.rand(r, q)
A = np.random.randint(0, 3, size=(p, t, q))
B = np.random.rand(r, t)
categories = np.random.randint(0, p, r)

print('iterative') # iterative
for i in range(p):
    # print(i)
    a = A[i, :, :]
    mask = categories == i
    b = B[mask]
    print(b.shape, a.shape, S[mask].shape,
          np.matmul(b, a).shape)
    S[mask] = np.matmul(b, a)
print(S.shape, np.sum(np.matmul(b, a))) # # , np.sum(scores))

iterative
(250, 4) (4, 9) (250, 9) (250, 9)
(262, 4) (4, 9) (262, 9) (262, 9)
(512, 9) 5599.511791050638

In [224]:
A.shape

(2, 4, 9)

In [225]:
S.shape

(512, 9)

In [226]:
B.shape

(512, 4)

In [227]:
categories.shape

(512,)

In [ ]:
np.matmul()

In [241]:
A.shape

(2, 4, 9)

In [250]:
S.shape

(512, 9)

In [254]:
(B[categories == i] @ A).shape

(2, 262, 9)

In [239]:
np.matmul(A,B[categories == i][None,:,:])

ValueError: matmul: Input operand 1 has a mismatch in its core dimension 0, with gufunc signature (n?,k),(k,m?)->(n?,m?) (size 262 is different from 9)

(1, 262, 4)

In [263]:
array = np.array(
        [[  1.,    1.,   82. , 177.,    0.,    0.,   -1. ],
         [  2.,    2.,   83. , 177.,    0.,    0.,    1. ],
         [  3.,    2.,   84. , 177.,    0.,    0.,    2. ],
         [  4.,    2.,   85. , 177.,    0.,    0.,    2. ],
         [  5.,    2.,   82.5, 177.,    0.,    0.,    2. ],
         [  6.,    2.,   83.5, 177.,    0.,    0.,    3. ]])

In [264]:
new_points = np.array(
   [[  7.,    2.,   82.5, 177.,    0.,    0.,    2. ],
    [  8.,    2.,   83.5, 177.,    0.,    0.,    4. ],
    [  9.,    2.,   84.5, 177.,    0.,    0.,    4. ],
    [ 10.,    2.,   84. , 177.,    0.,    0.,    4. ]])

In [285]:
%%timeit

cond = ~(array[:,None,2:4] == new_points[None,:,2:4]).all(-1).any(0)
updated_array = np.vstack([array,new_points[cond]])

9.77 s  145 ns per loop (mean  std. dev. of 7 runs, 100,000 loops each)

In [281]:
array[:,None,2:4].shape

(6, 1, 2)

In [283]:
(array[:,None,2:4] == new_points[None,:,2:4]).all(-1).any(0)

array([ True,  True, False,  True])

In [286]:
%%timeit

filtered_points = []
for point in new_points:
    if not np.any((array[:,2] == point[2]) & (array[:,3] == point[3])):
        filtered_points.append(point)
result = np.concatenate((array, filtered_points))

28.8 s  651 ns per loop (mean  std. dev. of 7 runs, 10,000 loops each)

In [287]:
magic_str = "abra cadabra"
#count_chars(magic_str)
#{'a': 5, 'b': 2, 'r': 2, 'c': 1, 'd': 1}

In [293]:
dict(Counter(magic_str.replace(' ','')))
{'a': 5, 'b': 2, 'r': 2, 'c': 1, 'd': 1}

{'a': 5, 'b': 2, 'r': 2, 'c': 1, 'd': 1}

In [298]:


def count_chars(string):
    stripped = string.replace(' ','')
    return {i:stripped.count(i) for i in set(stripped)}

count_chars(magic_str)

{'b': 2, 'c': 1, 'r': 2, 'd': 1, 'a': 5}

In [299]:
df = pd.read_clipboard()
df

,id,productivity,total_hours,swdev_hours,temp,pressure,humidity,fit_steps,danceability,energy,loudness,tempo
0,1,31,13.38,2.60,9.06,1011.0,53.0,0,0.716,0.759,-7.181,105.015
1,2,65,11.35,5.14,6.78,1012.0,65.0,0,0.908,0.669,-2.827,112.238
2,3,0,0.00,0.00,0.00,0.0,0.0,0,0.000,0.000,0.000,0.000
3,4,56,13.57,3.85,8.87,1000.0,68.0,0,0.776,0.697,-6.594,92.548
4,5,43,11.71,2.12,6.22,1011.0,72.0,0,0.662,0.609,-11.422,127.934
5,6,64,12.52,5.05,7.54,1021.0,68.0,0,0.276,0.739,-8.851,79.800
6,7,41,9.67,2.28,5.41,1019.0,67.0,0,0.000,0.000,0.000,0.000
7,8,56,12.15,2.81,5.58,1018.0,70.0,4825,0.647,0.844,-3.756,146.967
8,9,44,12.37,0.03,3.79,1028.0,75.0,5350,0.000,0.000,0.000,0.000
9,10,45,7.70,0.01,4.29,1030.0,77.0,1597,0.399,0.761,-6.318,140.084
10,11,34,10.19,1.23,2.22,1029.0,53.0,2171,0.399,0.761,-6.318,140.084

/var/folders/ck/dvz0vpxx7fz95ld2btkqqvzw0000gn/T/ipykernel_30737/4264644966.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  df.drop('id',1).corr()

,productivity,total_hours,swdev_hours,temp,pressure,humidity,fit_steps,danceability,energy,loudness,tempo
productivity,1.000000,0.766020,0.714475,0.667112,0.784574,0.829126,0.118479,0.496831,0.516037,-0.317449,0.418411
total_hours,0.766020,1.000000,0.563928,0.807637,0.886274,0.796650,0.177401,0.527601,0.495739,-0.443903,0.387851
swdev_hours,0.714475,0.563928,1.000000,0.740489,0.386047,0.301154,-0.403649,0.591908,0.477122,-0.335910,0.280424
temp,0.667112,0.807637,0.740489,1.000000,0.635675,0.574322,-0.301126,0.648544,0.514252,-0.502855,0.327645
pressure,0.784574,0.886274,0.386047,0.635675,1.000000,0.934980,0.221949,0.414317,0.503019,-0.410004,0.481405
humidity,0.829126,0.796650,0.301154,0.574322,0.934980,1.000000,0.296596,0.318106,0.383585,-0.345452,0.387821
fit_steps,0.118479,0.177401,-0.403649,-0.301126,0.221949,0.296596,1.000000,-0.211715,-0.065461,0.326719,0.032978
danceability,0.496831,0.527601,0.591908,0.648544,0.414317,0.318106,-0.211715,1.000000,0.791809,-0.557127,0.773501
energy,0.516037,0.495739,0.477122,0.514252,0.503019,0.383585,-0.065461,0.791809,1.000000,-0.747442,0.942524
loudness,-0.317449,-0.443903,-0.335910,-0.502855,-0.410004,-0.345452,0.326719,-0.557127,-0.747442,1.000000,-0.705575
tempo,0.418411,0.387851,0.280424,0.327645,0.481405,0.387821,0.032978,0.773501,0.942524,-0.705575,1.000000

In [ ]:
pd.DataFrame.corr()

In [308]:
df.drop('id',1).corr('pearson').iloc[:,0]

/var/folders/ck/dvz0vpxx7fz95ld2btkqqvzw0000gn/T/ipykernel_30737/1067640000.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  df.drop('id',1).corr('pearson').iloc[:,0]

productivity    1.000000
total_hours     0.766020
swdev_hours     0.714475
temp            0.667112
pressure        0.784574
humidity        0.829126
fit_steps       0.118479
danceability    0.496831
energy          0.516037
loudness       -0.317449
tempo           0.418411
Name: productivity, dtype: float64

In [309]:
5 & 1

1

In [316]:
# Sample symmetric input (S11, S22, S33, S12, S23, S13)
sym_tens_in=np.array([[0,9], [1,10], [2,11], [3,12], [4,13], [5,14]])
sym_tens_in

array([[ 0,  9],
       [ 1, 10],
       [ 2, 11],
       [ 3, 12],
       [ 4, 13],
       [ 5, 14]])

In [317]:
# Expand to full tensor
tens_full=np.array([[sym_tens_in[0], sym_tens_in[3], sym_tens_in[4]],
                    [sym_tens_in[3], sym_tens_in[1], sym_tens_in[5]],
                    [sym_tens_in[4], sym_tens_in[5], sym_tens_in[2]]])
tens_full

array([[[ 0,  9],
        [ 3, 12],
        [ 4, 13]],

       [[ 3, 12],
        [ 1, 10],
        [ 5, 14]],

       [[ 4, 13],
        [ 5, 14],
        [ 2, 11]]])

In [318]:
tens_full.shape

(3, 3, 2)

In [320]:
digits = [1,1,1,1]

In [321]:
sum(c << i for i, c in enumerate(digits))

15

In [322]:
[(i,c) for i,c in enumerate(digits)]

[(0, 1), (1, 1), (2, 1), (3, 1)]

In [331]:
digits = [1,0,1,1]

In [332]:
[c << i for i, c in enumerate(digits) if c!=0]

[1, 4, 8]

In [ ]:

# Transpose and reshape to n x 3 x 3 
tens_full=np.transpose(tens_full, axes=(2, 0, 1))

# This where the work on the full tensor will go....

# Reshape for extraction of the symmetric tensor
tens_full=np.reshape(tens_full, (2,9))

# Create an array for the test ouput symmetric tensor
sym_tens_out=np.empty((2,6), dtype=np.int32)

# Extract the symmetric components
sym_tens_out[:,0]=tens_full[:,0]
sym_tens_out[:,1]=tens_full[:,4]
sym_tens_out[:,2]=tens_full[:,8]
sym_tens_out[:,3]=tens_full[:,2]
sym_tens_out[:,4]=tens_full[:,3]
sym_tens_out[:,5]=tens_full[:,5]

# Transpose....
sym_tens_out=np.transpose(sym_tens_out)

In [315]:
sym_tens_in

array([[ 0,  9],
       [ 1, 10],
       [ 2, 11],
       [ 3, 12],
       [ 4, 13],
       [ 5, 14]])

In [311]:
sym_tens_out

array([[ 0,  9],
       [ 1, 10],
       [ 2, 11],
       [ 4, 13],
       [ 3, 12],
       [ 5, 14]], dtype=int32)

In [313]:
tens_full

array([[ 0,  3,  4,  3,  1,  5,  4,  5,  2],
       [ 9, 12, 13, 12, 10, 14, 13, 14, 11]])

In [1]:
import pandas as pd
import panel as pn

dictionary = {'A':[12,13,14,15],
              'B':[17,18,19,20],
              'C':[35,36,37,38],
              'D':[45,46,47,48]}

index = pd.to_datetime(['2017-06-08', '2017-06-09', '2017-06-10', '2017-06-11'])

df = pd.DataFrame(dictionary, index=index)

dfi = df.interactive

AttributeError: 'DataFrame' object has no attribute 'interactive'