In [1]:
import streamlit as st

In [ ]:
st.write

In [2]:
import numpy as np
import pandas as pd


arrays = [
    np.array(["bar", "bar", "baz", "baz", "foo", "foo", "qux", "qux"]),
    np.array(["one", "two", "one", "two", "one", "two", "one", "two"]),
]
s = pd.Series(np.random.randn(8), index=arrays)
df = pd.DataFrame(np.random.randn(8, 4), index=arrays)
df.index.names = ['index1', 'index2']
df

                      0         1         2         3
index1 index2
bar    one    -0.205875  1.655640 -0.293719 -0.888364
       two    -0.430968 -1.366272 -0.965299  0.329222
baz    one    -0.989943 -1.017676 -1.978354 -0.025512
       two    -0.203561 -0.930144 -0.743674  0.753461
foo    one     0.035394 -0.645152  0.704775  3.886217
       two    -1.042437  0.371565  0.345293 -0.542711
qux    one     0.955268  1.827085 -3.310341  0.215205
       two    -1.083629 -1.282270 -0.457502 -0.384376

In [3]:
#Method 1: Mean for the whole date
mean1 = df.groupby(level='index1').apply(lambda cormat: cormat.values.mean())
# MEthod 2: Mean of mean
mean2 = df.groupby(level=['index1']).mean().mean(axis=1)

print(mean1,mean2)

index1
bar   -0.270704
baz   -0.641925
foo    0.389118
qux   -0.440070
dtype: float64 index1
bar   -0.270704
baz   -0.641925
foo    0.389118
qux   -0.440070
dtype: float64

In [4]:
mean1

index1
bar   -0.270704
baz   -0.641925
foo    0.389118
qux   -0.440070
dtype: float64

In [5]:
mean2

index1
bar   -0.270704
baz   -0.641925
foo    0.389118
qux   -0.440070
dtype: float64

In [9]:
df.groupby(level='index1').mean()

               0         1         2         3
index1
bar    -0.318421  0.144684 -0.629509 -0.279571
baz    -0.596752 -0.973910 -1.361014  0.363975
foo    -0.503522 -0.136794  0.525034  1.671753
qux    -0.064180  0.272407 -1.883921 -0.084585

In [ ]:
Rot=( 
cosθ
sinθ
​
  
−sinθ
cosθ
​
 )

In [24]:
def rot(phi,arr):
    phi = np.deg2rad(phi)
    mat = np.array([[np.cos(phi), -np.sin(phi)], 
                    [np.sin(phi), np.cos(phi)]])
    
    out = (mat @ arr).round()
    return out


phi = 90
arr = np.array([0,1])

rot(90,arr)

array([-1.,  0.])

array([-1.,  0.])

In [25]:
np.radians(90)

1.5707963267948966

In [26]:
np.deg2rad(90)

1.5707963267948966

In [ ]:
<form action="https://google.com"><input type="submit" value="Go to Google" /></form>

In [3]:
from IPython.core.display import display, HTML
import pandas as pd
import streamlit as st

link1 = "https://stackoverflow.com/questions/71641666/hyperlink-in-streamlit-dataframe"
link2 = "https://stackoverflow.com/questions/71731937/how-to-plot-comparison-in-streamlit-dynamically-with-multiselect"
df = pd.DataFrame(
    {
        "url": [
            f'<form action="https://google.com"><input type="submit" value="Go to Google" /></form>',
            f'<a target="_blank" href="{link2}">How to plot comparison in Streamlit dynamically with multiselect?</a>'
        ],
        "label": ["question", "question"]
    }
)

st.write(df.to_html(escape=False, index=False), unsafe_allow_html=True)

/var/folders/ck/dvz0vpxx7fz95ld2btkqqvzw0000gn/T/ipykernel_75917/2083955293.py:1: DeprecationWarning: Importing display from IPython.core.display is deprecated since IPython 7.14, please import from IPython display
  from IPython.core.display import display, HTML
2023-01-19 09:25:31.396
  Warning: to view this Streamlit app on a browser, run it with the following
  command:

    streamlit run /opt/homebrew/Caskroom/miniforge/base/envs/ui_env/lib/python3.10/site-packages/ipykernel_launcher.py [ARGUMENTS]