In [7]:
import pandas as pd

df = pd.DataFrame({"name": ["Rick","Morty","Beth","Summer","Jerry"], 
                   "age": [70, 14, 35, 17, 35]})
print(df)

     name  age
0    Rick   70
1   Morty   14
2    Beth   35
3  Summer   17
4   Jerry   35

In [2]:
def age_group(row):
    if row.age >= 0 and row.age < 20:
        return '0 - 20 yrs'
    elif row.age >= 20 and row.age < 40:
        return '20 - 40 yrs'
    elif row.age >= 40 and row.age < 60:
        return '40 - 60 yrs'
    elif row.age >= 60:
        return '60+ yrs'
    else:
        return 'invalid age'
    
df['apply_age'] = df.apply(age_group,1)
print(df)

     name  age    apply_age
0    Rick   70      60+ yrs
1   Morty   14   0 - 20 yrs
2    Beth   35  20 - 40 yrs
3  Summer   17   0 - 20 yrs
4   Jerry   35  20 - 40 yrs

In [3]:
import numpy as np

#Conditions
c1 = (df.age >= 0) & (df.age < 20)
c2 = (df.age >= 20) & (df.age < 40)
c3 = (df.age >= 40) & (df.age < 60)
c4 = (df.age >= 60)

#Values
values = ['0 - 20 yrs', '20 - 40 yrs', '40 - 60 yrs', '60+ yrs']
default = 'invalid age'

df['select_age'] = np.select([c1,c2,c3,c4], values, default=default)
print(df)

     name  age    apply_age   select_age
0    Rick   70      60+ yrs      60+ yrs
1   Morty   14   0 - 20 yrs   0 - 20 yrs
2    Beth   35  20 - 40 yrs  20 - 40 yrs
3  Summer   17   0 - 20 yrs   0 - 20 yrs
4   Jerry   35  20 - 40 yrs  20 - 40 yrs

In [8]:
df = pd.concat([df]*10000)

In [5]:
%%timeit

def age_group(row):
    if row.age >= 0 and row.age < 20:
        return '0 - 20 yrs'
    elif row.age >= 20 and row.age < 40:
        return '20 - 40 yrs'
    elif row.age >= 40 and row.age < 60:
        return '40 - 60 yrs'
    elif row.age >= 60:
        return '60+ yrs'
    else:
        return 'invalid age'
    
df['apply_age'] = df.apply(age_group,1)

909 ms ± 6.88 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [9]:
%%timeit

#Conditions
c1 = (df.age >= 0) & (df.age < 20)
c2 = (df.age >= 20) & (df.age < 40)
c3 = (df.age >= 40) & (df.age < 60)
c4 = (df.age >= 60)

#Values
values = ['0 - 20 yrs', '20 - 40 yrs', '40 - 60 yrs', '60+ yrs']
default = 'invalid age'

df['select_age'] = np.select([c1,c2,c3,c4], values, default=default)

6.32 ms ± 241 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)